// Here you can add other styles
$dynamicTopMargin: var(--dynamic-top-margin, "1in");
$dynamicBottomMargin: var(--dynamic-bottom-margin, "1in");

.designerPageBg {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.designerPage {
    background-color: #fff;
    box-shadow: 5px 5px 5px gray;
    margin: 10px;
    position: relative;
}

.designerPageContent {
    margin: 1cm;
}

.designerPageZoomCtrl {
    width: 200px;
    float: right;
}

/*Margin Box*/
.txtMargin {
    width: 60px;
}

.designerPage::after {
    content: '';
    position: absolute;
    top: $dynamicTopMargin;
    left: 50%;
    width: 100px;
    height: $dynamicBottomMargin;
    border: 1px solid red;
    transform: translate(-50%, -50%); // Center the square
    z-index: 100;
}

/*
.designerPage::after {
    position: absolute;
    left: 0;
    top: $dynamicBottomMargin;
    height: 1px;
    content: "";
    width: 100%;
    display: block;
    border-top: 1px solid red;
    border-right: 1px solid red;
}

.designerPage::before {
    position: absolute;
    left: 0;
    height: $dynamicTopMargin;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    content: "";
    width: 100%;
    display: block;
}
    */

.designerPage::left {
    position: absolute;
    left: 0;
    border-right: 1px solid red;
    content: "";
    width: 100%;
    display: block;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.designerPage::right {
    position: absolute;
    right: 0;
    border-left: 1px solid red;
    content: "";
    width: 100%;
    display: block;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*
.topMargin {
    height: 1in;
    color: red;
    border-bottom: 1px solid red;
}

.bottomMargin {
    height: 1in;
    color: red;
    border-bottom: 1px solid red;
}

.leftMargin {
    width: 1in;
    color: red;
    border-top: 1px solid red;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rightMargin {
    width: 1in;
    color: red;
    border-top: 1px solid red;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

*/