// Here you can add other styles
.designerPageBg {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.designerPage {
    background-color: #fff;
    width: 8.5in;
    height: 11in;
    box-shadow: 5px 5px 5px gray;
    margin: 10px;
}

.designerPageContent
{
    margin: 1cm;
}

.designerPageZoomCtrl
{
    width: 200px;
    float: right;
}

/*Margin Box*/
.txtMargin{
    width: 60px;
}

.topMargin{
    height: 10px;
    background-color: red;
    color: red;
}